.container {
  position: relative;
  background-color: transparent;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-accent-light);
  border-radius: 4px;

  color-scheme: light dark;
  background-color: var(--color-dark);
}

.input:focus {
  outline: none;
}

.invalid {
  border-color: var(--color-crimson);
}

.valid {
  border-color: var(--color-green);
}

.errorMessage {
  color: var(--color-crimson);
}

.passwordToggleIcon {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 30px;
  height: 30px;
}

.paddingRight {
  padding-right: 40px;
}

@media (hover: hover) {
  .passwordToggleIcon:hover {
    cursor: pointer;
  }
}
