.addresses {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.addressCol {
  display: flex;
  flex-direction: column;
  min-width: 22.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}
