.button {
  padding: 10px;
  border: none;
  border-radius: 4px;

  color: inherit;

  background-color: var(--color-accent);

  transition: background-color var(--transition-duration);
}

.button:disabled {
  pointer-events: none;
  background-color: var(--color-accent-light);
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    background-color: #1d45f8; /* TODO: replace by var */
  }
}
