.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
  gap: 2rem;
  place-content: center;
  justify-items: center;

  border-radius: var(--border-radius);
}

@media (width <= 640px) {
  .list {
    gap: 1rem;
  }
}
