.header {
  padding: 2.32rem 0;
  background-color: var(--color-dark);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  gap: 1rem;
}

.logoLink {
  transition: color var(--transition-duration);
}

.icon {
  /* TODO: temporary */
  color: var(--color-accent);
}

@media (hover: hover) {
  .icon:hover {
    cursor: pointer;
  }

  .logoLink:hover {
    color: var(--color-accent);
  }
}
