.container {
  max-width: 59.8rem;
  margin-top: 4rem;
  margin-inline: auto;
  padding-block: 4rem;
  border-radius: var(--border-radius);

  background-color: var(--color-dark);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  max-width: 39.8rem;
  margin-inline: auto;
}

.formHeader {
  text-align: center;
}

.formTitle {
  font-size: 2.6rem;
  font-weight: 500;
}

.formSubtitle {
  color: var(--color-accent-light);
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 0;
  padding: 0;
  border: none;
}

.legend {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}
