.container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.sortContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-accent-light);
}

.button {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 0;
  border: none;

  color: var(--color-accent-light);

  background-color: transparent;

  transition: color var(--transition-duration);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.rotated {
  transform: rotate(180deg);
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    color: var(--color-accent);
  }
}
