.fallback {
  display: grid;
  gap: 2rem;
  place-content: center;
  height: 100dvh;
}

.gif {
  display: block;
  margin-inline: auto;
}

.button {
  max-width: max-content;
  margin-inline: auto;
}
