.container {
  max-width: 29rem;
  padding-block: 1rem;
}

.container:not(:last-of-type) {
  border-bottom: 1px solid var(--color-white);
}

.summary {
  position: relative;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0.5rem;

  font-weight: 500;
  list-style: none;

  transition: color var(--transition-duration);
}

.summary::-webkit-details-marker,
.summary::marker {
  display: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.rotated {
  transform: rotate(180deg);
}

.checkboxesContainer {
  background-color: red;
}

.priceRangeContainer {
  display: flex;
  gap: 1rem;
}

@media (hover: hover) {
  .summary:hover {
    cursor: pointer;
    color: var(--color-accent);
  }
}
