.productDetails {
  position: relative;

  display: flex;
  gap: 5rem;

  min-height: 41rem; /* TODO: idk how else align loader */
  margin-block: 4rem;
}

.leftContainer {
  width: 100%;
  max-width: 45rem;
}

@media (width <= 890px) {
  .productDetails {
    flex-direction: column;
    align-items: center;
    min-height: max-content;
  }
}

@media (width <= 480px) {
  .leftContainer {
    max-width: 90vw;
  }
}

.rightContainer {
  display: grid;
  gap: 3rem;
  align-content: start;
}

.sliderContainer {
  background-color: transparent;
}

.contentContainer {
  display: grid;
  gap: 2rem;
}

.heading {
  font-size: 2.2rem;
  font-weight: 500;
}

.pricesContainer {
  display: flex;
  gap: 1rem;

  width: max-content;

  font-family: var(--font-montserrat);
  font-size: 1.6rem;
  font-weight: 500;
}

.defaultPrice {
  color: inherit;
}

.oldPrice {
  text-decoration: line-through;
}

.discountedPrice {
  padding: 0.3rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  background-color: var(--color-accent);
}

.description {
  font-family: var(--font-montserrat);
  font-size: 1.4rem;
  color: var(--color-accent-light);
}

.inputsContainer {
  display: flex;
  gap: 1rem;
  width: max-content;
}

.weightTitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-white);
  text-transform: uppercase;
}

.notFoundWidget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  gap: 1rem;
  place-items: center;

  text-align: center;
}

.notFoundDescription {
  font-size: 1.6rem;
  color: var(--color-accent-light);
  white-space: pre-wrap;
}

.notFoundGif {
  border: 1rem solid var(--color-accent-light);
  border-radius: var(--border-radius);
}
