.container {
  height: 100%;

  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center; */

  margin-block: 4rem;
}

.block {
  padding-block: 2rem 3rem;
  padding-inline: 3rem;
  border-radius: var(--border-radius);
  background-color: var(--color-dark);
}

.totalBlock {
  flex-shrink: 0;
  width: 100%;
  max-width: 30.5rem;
  height: max-content;
}

.itemsBlock {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;

  min-width: 39.6rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
}

@media (width <= 640px) {
  .itemsBlock {
    min-width: 100%;
  }
}
