.page {
  display: grid;
  grid-template-columns: 29rem 1fr;
  gap: 2rem;
  margin-block: 4rem;
}

.sidebarElement {
  background-color: transparent;
}

.mainContentElement {
  display: grid;
  gap: 3rem;
}

@media (width <= 640px) {
  .page {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .mainContentElement {
    gap: 2rem;
  }
}
