.page {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
  margin-block: 4rem;
}

.contentWrapper {
  display: grid;
  grid-template-columns: minmax(20rem, 29rem) 1fr;
  gap: 2rem;
}

.sidebarElement {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
}

.mainContentElement {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

.buttonToTop {
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;

  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;

  visibility: visible;
  opacity: 1;
  background-color: var(--color-accent-light);

  stroke: var(--color-white);

  transition:
    stroke var(--transition-duration),
    opacity var(--transition-duration);
}

.buttonReset {
  background-color: var(--color-dark);
}

.icon {
  width: 3rem;
  height: 3rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (hover: hover) {
  .buttonToTop:hover {
    cursor: pointer;
    stroke: var(--color-accent);
  }
}

@media (width <= 640px) {
  .contentWrapper {
    grid-template-columns: 1fr;
  }

  .mainContentElement {
    gap: 2rem;
  }
}
