/* TODO: remove after sprint-2 */
.buttonsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  max-width: 128rem;
  height: 10rem;
  margin-block: 2rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.buttonsContainer button {
  height: 100%;
  font-weight: bold;
}
