@import url('./variables.css');

:root {
  font-family: Poppins, system-ui, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: var(--color-white);
  text-rendering: optimizelegibility;

  background-color: var(--color-black);

  font-synthesis: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}
