.details {
  grid-area: categories;

  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: var(--border-radius);

  background-color: var(--color-dark);
}

.summary {
  position: relative;

  display: flex;
  align-items: center;

  width: max-content;
  margin-bottom: 0.5rem;

  list-style: none;

  transition: color var(--transition-duration);
}

.details .summary::-webkit-details-marker {
  display: none;
}

.details[open] .summary::before,
.details:not([open]) .summary::before {
  position: absolute;
  right: -2.5rem;

  width: 2rem;
  height: 2rem;

  text-align: center;
}

.details[open] .summary::before {
  content: '-';
}

.details:not([open]) .summary::before {
  content: '+';
}

@media (hover: hover) {
  .summary:hover {
    cursor: pointer;
    color: var(--color-accent);
  }
}
