.banner {
  background-color: var(--color-dark);
  background-image: url('../../assets/img/banner-background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1920px auto;
}

.container {
  max-width: 56.2rem;
  padding: 8.48rem 0 12rem;
}

.heading {
  margin: 0;
  margin-bottom: 2rem;

  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  margin: 0;
  margin-bottom: 5.4rem;
  font-size: 2.4rem;
}

.cta {
  display: inline-block;

  min-width: 24.4rem;
  padding: 1rem;
  border-radius: var(--border-radius);

  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;

  background-color: var(--color-accent);

  transition:
    background-color var(--transition-duration),
    transform var(--transition-duration);
}

.cta:hover {
  color: inherit;
  background-color: var(--color-dark);
}

.cta:active {
  transform: scale(0.96);
}
