.container {
  background-color: transparent;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: transparent;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.name {
  font-size: 5.4rem;
  font-weight: 500;
}

.description {
  color: var(--color-accent-light);
}

.image {
  border-radius: 8px;
}

.code {
  width: max-content;
  padding: 2rem;
  border-radius: var(--border-radius);

  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--color-accent-dark);
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}
