.icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  width: 3rem;
  height: 3rem;
}

.paddingRight {
  padding-right: 4rem;
}

@media (hover: hover) {
  .icon:hover {
    cursor: pointer;
  }
}
