.breadcrumbs {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  color: var(--color-accent-light);
}

.link {
  margin-right: 1rem;
  transition: color var(--transition-duration);
}

.current {
  color: color-mix(in srgb, var(--color-accent-light) 50%, transparent);
}

@media (hover: hover) {
  .link:hover {
    cursor: pointer;
    color: var(--color-white);
  }
}
