.slider {
  position: relative;
}

.swiper {
  max-width: 90%;
}

.navigation {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  justify-content: space-between;
}

.navigationButton {
  position: initial;
  width: 4rem;
  fill: color-mix(in srgb, var(--color-white) 95%, transparent);
  transition: fill var(--transition-duration);
}

.navigationButton::after {
  display: none;
}

.navigationButton:hover {
  fill: var(--color-accent);
}

.arrow {
  width: 4rem;
  height: 4rem;
}

.arrow.previous {
  transform: rotate(180deg);
}

.image {
  display: block;

  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;

  object-fit: cover;
}
