.container {
  width: 100%;
  padding-block: 2rem 3rem;
  padding-inline: 3rem;
  border-radius: var(--border-radius);

  background-color: var(--color-dark);
}

.header {
  margin-bottom: 2rem;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list > li:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-white);
}

.count {
  color: var(--color-accent-light);
}

@media (width <= 768px) {
  .container {
    min-width: 100%;
  }
}
